.maplay {
	width: 100%;
	height: 2700px;
	background: linear-gradient(to bottom, #EBFBFE,#ECFBFE,#EDFBFD,#EFFAFC,#DFF2F5);
}
.maptop {
	width: 100%;
	height: 30%;
	margin-top: -90px;
}
.uptext {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hls {
	margin-top: 70px;
	margin-bottom: 35px;
}
.paro {
	margin-bottom: 20px;
}
.uplist {
	width: 95%;
	height: 280px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 30px;
	margin-top: 50px;
	margin-bottom: 120px;
}
.l1 {
	width: 270px;
	height: 80%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: white;
	box-shadow: 10px 10px 10px lightgray;
	list-style-image: url(greater.png);
}
.l2 {
	width: 270px;
	height: 80%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: white;
	box-shadow: 10px 10px 10px lightgray;
	list-style-image: url(greater.png);
}
.l3 {
	width: 270px;
	height: 80%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: white;
	box-shadow: 10px 10px 10px lightgray;
	list-style-image: url(greater.png);
}
.l4 {
	width: 270px;
	height: 80%;
	display: flex;
	align-items: center;
	flex-direction: column;
	align-items: center;
	background-color: white;
	box-shadow: 10px 10px 10px lightgray;
	list-style-image: url(greater.png);
}
.hmapd1 {
	margin-top: 40px;
	font-size: 15px;
	color: #0096AA;
	margin-bottom: 20px;
	margin-left: -70px;
}
.hmapd2 {
	margin-top: 40px;
	font-size: 15px;
	color: #0096AA;
	margin-bottom: 20px;
	margin-left: -85px;
}
.hmapd3 {
	margin-top: 40px;
	font-size: 15px;
	color: #0096AA;
	margin-bottom: 20px;
	margin-left: -50px;
}
.hmapd4 {
	margin-top: 40px;
	font-size: 15px;
	color: #0096AA;
	margin-bottom: 20px;
	margin-left: -65px;
}
.l1 >ol, .l2 >ol, .l3 >ol, .l4 >ol {
	font-size: 12px;
	margin-left: -20px;
	line-height: 2em;
}
.upmg {
	width: 100%;
	height: 470px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.upmgtext {
	text-align: center;
	margin-top: -500px;
}
.up1 >img {
	height: 150px;
}
.up2 >img {
	height: 145px;
}
.up1 {
	position: absolute;
	top: 311rem;
}
.up2 {
	position: absolute;
	top: 317rem;
}
.mapdown {
	width: 100%;
	height: 80%;
}
.downt {
	width: 100%;
	height: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-top: -330px;
}
.join {
	margin-top: 600px;
}
.sigun {
	width: 150px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 13pt;
    border: #FF8D1A;
    background-color: #FF8D1A;
    border-radius: 5px;
    margin-top: -270px;
	text-align: center;
}
.tdown {
	width: 100%;
	height: 1000px;
	background-image: url(cloud.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 80px;
}
.tmg {
	width: 100%;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 500px;
	background-color: #DFF2F5;
}
.tmwrap {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.tmwrap >img {
	height: 100px;
	margin-top: 30px;
}
.national {
	width: 150px;
}
.mil60 {
	width: 100%;
	height: 500px;
	margin-top: -190px;
}
.dot1{
	position: absolute;
	right: 8rem;
	margin-top: -170px;
}
.dot2{
	position: absolute;
	right: 13rem;
	margin-top: 130px;
}
.dot3{
	position: absolute;
	left: 4rem;
	margin-top: 60px;
}
.over100 {
	position: absolute;
	right: 19rem;
	margin-top: 235px;
}
.million {
	position: absolute;
	right: 14.2rem;
	margin-top: -73px;
}
.billion {
	position: absolute;
	left: 10.5rem;
	margin-top: 165px;
}
.map {
	margin-top: -150px;
	width: 1185px;
}
.wrapper_container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}
.card_wrapper{
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -150px;
}
.card1{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
  padding: 50px 50px 20px;
  position: relative;
  width: 22%;
  height: 300px;
  margin-top: 50px;
}
.card2{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
  padding: 50px 50px 20px;
  position: relative;
  width: 23%;
  height: 380px;
  margin-top: 120px;
}
.card3{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
  padding: 50px 50px 20px;
  position: relative;
  width: 25%;
  height: 300px;
  margin-top: 50px;
}
.madam_pix1{
  border-radius: 50%;
  width: 80px;
  margin-left: 1.5rem;
}
.writeupix1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  margin-top: 5px;
  margin-right: -30px;
}
.p_f1{
	text-align: right;
	margin-left: 40px;
}
.madam_pix2{
  border-radius: 50%;
  width: 80px;
  margin-left: 1.5rem;
}
.writeupix2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  margin-top: -10px;
  margin-right: -30px;
}
.p_f2{
	text-align: right;
	margin-left: 40px;
}
.madam_pix3{
  border-radius: 50%;
  width: 80px;
  margin-left: 1.5rem;
}
.writeupix3{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  margin-top: -10px;
  margin-right: -30px;
}
.p_f3{
	text-align: right;
	margin-left: 30px;
}
.pro1 {
	letter-spacing: 4px;
	line-height: 3;
	margin-top: -20px;
}
.pro2 {
	letter-spacing: 5px;
	line-height: 3;
	margin-top: -20px;
}
.pro3 {
	letter-spacing: 5px;
	line-height: 3;
	font-size: 17px;
	margin-top: -20px;
}